@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Custom scrollbar for large grids */
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    
    .scrollbar-default::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    .scrollbar-default::-webkit-scrollbar-thumb {
        background: #cbd5e1;
        border-radius: 4px;
    }
}